body {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

hr {
  width: 100px;
  border: 1px solid #000;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
}

#allBooks {
  border: 2px solid #3d3d3d;
}

nav ul li {
  list-style: none;
  margin-left: 10px;
  border-right: 2px solid gray;
  padding: 4px 0;
  padding-right: 10px;
  cursor: pointer;
}

.contact-info p,
.contact-info li {
  text-align: start;
}

nav li:hover {
  color: blue;
}

#allBooks li:nth-child(even) {
  background: #ccc;
}

#allBooks li:nth-child(odd) {
  background: #fff;
}

.remove {
  display: flex;
  align-self: center;
  border: #000 solid 2px;
  padding: 0.7%;
  margin-right: 2%;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-left: 30%;
  padding-right: 30%;
}

input {
  margin-bottom: 10px;
  width: 100%;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid #3d3d3d;
  padding: 0 20px;
  align-items: center;
  font-size: large;
}

.logo {
  margin: 0;
}

nav ul {
  display: flex;
}

.contact {
  border: none;
}

.form-container {
  display: none;
}

#current-date {
  font-size: small;
  text-align: right;
  font-weight: 600;
}

footer {
  position: absolute;
  padding: 0 20px;
  bottom: 2em;
  width: 500px;
  border: 2px solid #3d3d3d;
  box-sizing: border-box;
  text-align: start;
}

.contact-info {
  display: none;
  font-size: large;
}

